:root {
    --santared: #DB3A34;
    --santagreen: #38686A;
    --bgcolor: #A6D49F;
    --fontcolor: #323031;
    --contentbgcolor: white;
}

* {
    font-family: 'Raleway', sans-serif; 
    font-style: var(--fontcolor);
    background-color: var(--bgcolor);
}

.mainContentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nameEnter {
    background-color: var(--contentbgcolor);
    border: 1px solid black;
}

button {
    background-color: var(--contentbgcolor);
    font-family: monospace;
    border: 1px solid black;
}

button:hover {
    cursor: pointer;
    background-color: #BFDBF7;
}