:root {
    --santared: #d94934;
    --santagreen: #7f967b;
    --bgcolor: #A6D49F;
    --fontcolor: #000;
    --goldaccent: #d6d0af;
    --contentbgcolor: white;
}

* {
    font-family: 'Raleway', sans-serif; 
    color: var(--fontcolor);
    background-color: var(--bgcolor);
}

h1 {
    color: var(--santared);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.mainContentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nameEnter {
    background-color: var(--contentbgcolor);
    border: 1px solid black;
}

.namesListdiv {
 display: flex;
 flex-direction: column;
 align-items: center;
}

#nameSubmit {
    margin: 5px;
}

li{
    align-items: center;
    margin: 7px;
}

button {
    background-color: var(--contentbgcolor);
    font-family: monospace;
    border: 1px solid black;
}

button:hover {
    cursor: pointer;
    background-color: #BFDBF7;
}