:root {
    --santared: #d94934;
    --santagreen: #7f967b;
    --bgcolor: #A6D49F;
    --fontcolor: #000;
    --goldaccent: #d6d0af;
    --contentbgcolor: white;
}

* {
    font-family: 'Raleway', sans-serif; 
    color: var(--fontcolor);
    background-color: var(--bgcolor);
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mainContentBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
}

.leftDiv {
    float: left;
    display: flex;
    /* left: 0px;
    z-index: -1; */
}

.midContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.rightDiv {
    float: right;
    /* right: 0px;
    z-index: -1; */
}

.lights {
    width: 100%;
    height: 100%;
}

#lights180 {
    transform: scaleX(-1);
}

h1 {
    color: var(--santared);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}

#nameEnter {
    background-color: var(--contentbgcolor);
    border: 1px solid black;
}

.namesListdiv {
 display: flex;
 flex-direction: column;
 align-items: center;
}

#nameSubmit {
    margin: 5px;
}

li{
    align-items: center;
    margin: 7px;
}

button {
    background-color: var(--contentbgcolor);
    font-family: monospace;
    border: 1px solid black;
}

button:hover {
    cursor: pointer;
    background-color: #BFDBF7;
}