:root {
    --santared: #d94934;
    --santagreen: #7f967b;
    --bgcolor: #A6D49F;
    --fontcolor: #000;
    --goldaccent: #d6d0af;
    --contentbgcolor: white;
}

* {
    font-family: 'Raleway', sans-serif; 
    color: var(--fontcolor);
}

body {
    background-color: var(--bgcolor);
}

.titleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scrambleDivTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.misnomer {
    margin: 0px
}

.mainContentBox {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.leftDiv {
    float: left;
}

.midContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.rightDiv {
    float: right;

}

.lights {
    width: 100%;
}

.altGif {
    display: none;
}

#lights180 {
    transform: scaleX(-1);
}

h1 {
    color: var(--santared);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
}

#nameEnter {
    background-color: var(--contentbgcolor);
    border: 1px solid black;
}

#scrambleDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.createdNameEnter {
    background-color: var(--contentbgcolor);
    border: 1px solid black;
    margin: 5px;
}

.namesListdiv {
 display: flex;
 flex-direction: column;
 align-items: center;
}

#nameSubmit {
    margin: 5px;
}

#imporantName {
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    align-items: center;
    margin: 7px;
    text-transform: capitalize;
}

button {
    background-color: var(--contentbgcolor);
    font-family: monospace;
    border: 1px solid black;
}

button:hover {
    cursor: pointer;
    background-color: #BFDBF7;
}

@media all and (max-width: 623px) {
    .altGif {
        display: flex;
        flex-direction: column;
        height: 30px;
    }

    .christmasBanner {
        max-width: 100%;
    }

    .inputSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #scrambleDivTitle {
        text-align: center;
    }
    #nameAdd {
        margin-top: 5px;
    }

    #pRemove {
        text-align: center;
    }

    .leftDiv{
        display: none;
    }

    .rightDiv{
        display: none;
    }
}

@media all and (max-width: 978px){ 
    #pRemove {
        text-align: center;
    }
}